@import "base/_styles.scss";
$main-color: $gray-dark;
p {
    margin: 0;
}
ul {
    margin: 0;    
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}
h1.logo {
    margin: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}
.logo a {    
    color: $main-color;
}
.logo-brand i {
    font-size: 2rem;
}
.main-nav {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-around;
}
.links {
    // margin: 0;
    // margin-left: auto;
    // margin-right: 10rem;
    
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    li {
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0rem;
        }
        a i {
            font-size: 2rem;
            color: $main-color;
        }
    }
}




.wrapper-nav {
    // background: linear-gradient(180deg, $gray, $gray);
    color: $main-color;
}
.main-section {
    margin-top: 1.5rem;
}
.signup-form {
    width: 70%;
    margin: auto;
}

.list-checkbox {
    > * {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}             

@media screen and (max-width: 576px) {
    .links {
        display: none;
    }   
    .nav-burger {
        display: block !important;
    }    
}
