@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}
h1, h2 {
    margin-bottom: 1rem 0;

}
p {
    margin-bottom: 0.8rem 0;
}
ul {
    list-style-type: none;
}
body {
    font-family: "lato", sans-serif;
    color: #333;
}
.navbar {
    background-color: $primary-color;
    color: #fff;
    height: 70px;
    a {
        color: #fff;
    }
    ul {
        display: flex;
        flex-direction: row;
        a {
            margin: 0 5px;
            padding: 10px;
            &:hover {
                border-bottom: 2px white solid;
            }
        }
    }
    .flex {
        justify-content: space-between;
    }
}
a {
    text-decoration: none;
    color: #333;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 40px;
    // overflow: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.showcase {
    background-color: $primary-color;
    color: white;
    position: relative;
    height: 400px;
}