@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
input, label, span, img, button, a, video, svg, small {
  display: inline-block; }

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center; }

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }

* {
  font-family: "lato";
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

p, h1, h2, h3 {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

html, body {
  padding: 0.1px;
  width: 100%; }

.wrapper__burger {
  position: relative;
  width: 20px;
  margin-right: 2rem; }

.check-burger {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 100%; }
  .check-burger:hover ~ .hamburger > div {
    background-color: #fd7e14; }
  .check-burger:checked ~ .hamburger > div:nth-child(1) {
    transform: translateY(10px) rotate(135deg); }
  .check-burger:checked ~ .hamburger > div:nth-child(2) {
    opacity: 0; }
  .check-burger:checked ~ .hamburger > div:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg); }
  .check-burger:checked:hover ~ .hamburger > div {
    background-color: #28a745; }

.hamburger {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .hamburger > div {
    background-color: white;
    border-radius: 10px;
    height: 2px;
    margin-bottom: 4px;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out; }
    .hamburger > div:nth-child(2) {
      transition: background-color 0.2s ease-in-out,  opacity 0.1s ease-in-out; }
    .hamburger > div:last-child {
      margin-bottom: 0; }
  .hamburger:hover > div {
    background-color: #fd7e14; }

.logo-brand h3 a {
  color: white;
  text-decoration: none; }

.logo-brand img {
  width: 100px; }

#nav {
  height: 70px;
  background-color: black;
  color: white;
  padding: 0 1rem;
  transition: background-color 0.3s ease-in-out; }
  #nav.nav-scroll {
    background-color: white;
    color: black; }
    #nav.nav-scroll #nav-icons li a {
      color: black; }
    #nav.nav-scroll .logo-brand h3 a {
      color: black; }
    #nav.nav-scroll .login a {
      color: black; }

#nav-icons li {
  margin-right: 1.4rem; }
  #nav-icons li:last-child {
    margin-right: 0; }
  #nav-icons li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out; }

.logo-brand img {
  color: white; }

#search {
  cursor: pointer; }

.login a {
  color: white; }

.cookies {
  z-index: 2;
  padding: 1rem;
  position: fixed;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  transition: transform 0.3s ease-in-out img;
    transition-float: left; }
  .cookies p {
    position: relative;
    left: 10px; }
  .cookies button {
    outline: none;
    width: 10rem;
    border: none; }
  .cookies.nav-scroll {
    transform: translateX(-50%) translateY(100%); }

#poster {
  height: 150vh;
  width: 100%;
  background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3tGUH49Fuv4fTCk2xPvRWU/6d4d3f7ab695e8b9bf60408487c1bcdd/FayeLau_S4_Poster_16x9_no_logo.jpg");
  background-position: top;
  background-size: 150%;
  background-repeat: no-repeat;
  position: relative;
  color: white; }

.extra {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40%;
  left: 40%;
  background-color: transparent; }
  .extra button {
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 4rem;
    width: 7rem;
    padding: 0.3rem 0.3rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color 0.3s ease-in-out; }
    .extra button:hover {
      background-color: rgba(255, 255, 255, 0.5); }

.poster-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

.poster-text h2 {
  text-transform: uppercase; }

.poster-btns button {
  outline: none;
  border: none;
  border-radius: 30px;
  width: 10rem;
  padding: 0.7rem 1.8rem; }

@media screen and (max-width: 768px) {
  #poster {
    height: 100vw; }
  .poster-content {
    height: 50%;
    top: 75%; }
  .poster-btns button {
    border-radius: 30px;
    width: 8rem;
    padding: 0.4rem 1.2rem;
    font-size: 0.8rem; } }
