@import "../base/styles";
body {
    padding: 2rem;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 3rem;
    opacity: 0;
    pointer-events: none;    
    // visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}
.active {
    opacity: 1;
    pointer-events: all;
    // visibility: visible;
}

section {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 4rem;
}

#section-1 {
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
    transform: translateX(-4rem);
    
}
#section-1.add {
    opacity: 1;
    transform: unset;
}
