@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$primary-color: #047aed;


* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.3rem 1rem;
}

